$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-900: #212121;

$amber-100: #ffecb3;

$green-200: #a5d6a7;

$deep-orange-100: #ffccbc;

$blue-200: #90caf9;

$deep-purple-100: #d1c4e9;

$yellow-500: #FFEB3B;
$yellow-600: #FDD835;
