@import "../../../../../../styles/colors";

.lists-container {
  display: flex;
  justify-content: space-between;

  mat-list {
    border: solid 1px $gray-500;
    border-radius: 4px;
    flex: 1;
    margin: 4px;

    .right-button {
      position: absolute;
      right: 6px;
    }
  }
}
